import(cba)
import(methods)
import(XML)

export(
       "read_plain",
       "read_reut21578xml",
       "read_rcv1",
       "read_newsgroup",
       "read_gmane_r",
       "convert_reut21578xml_plain",
       "convert_rcv1_plain",
       "convert_mbox_eml",
       "s_filter",
       "preprocess_reut21578xml"
       )

exportMethods(
              # Constructors
              "TextDocCol",
              "TextRepository",
              "TermDocMatrix",
              "DirSource",
              "CSVSource",
              "ReutersSource",
              "GmaneRSource",

              # TextDocument
              "Corpus",
              "Corpus<-",
              "Author",
              "Author<-",
              "DateTimeStamp",
              "DateTimeStamp<-",
              "Description",
              "Description<-",
              "ID",
              "ID<-",
              "Origin",
              "Origin<-",
              "Heading",
              "Heading<-",
              "LocalMetaData",

              "Cached",
              "Cached<-",
              "URI",

              # TextDocCol
              "DMetaData",
              "DCMetaData",

              # TextRepository
              "RepoMetaData",

              # TermDocMatrix
              "Weighting",
              "Weighting<-",

              # Sources
              "step_next",
              "get_elem",
              "eoi",

              # Functions
              "load_doc",
              "tm_update",
              "tm_map",
              "as.plain",
              "strip_whitespace",
              "tm_tolower",
              "stem_doc",
              "remove_words",
              "tm_filter",
              "tm_index",
              "search_fulltext",
              "find_hf_terms",
              "find_assocs",
              "append_elem",
              "append_meta",
              "prescind_meta",
              "remove_meta",
              "[",
              "[<-",
              "[[",
              "[[<-",
              "c",
              "length",
              "show",
              "summary",
              "inspect",
              "%IN%",
              "dissimilarity")

exportClasses("TextDocument",
              "PlainTextDocument",
              "XMLTextDocument",
              "NewsgroupDocument",
              "TextDocCol",
              "MetaDataNode",
              "TextRepository",
              "TermDocMatrix",
              "Source",
              "DirSource",
              "CSVSource",
              "ReutersSource",
              "GmaneRSource")
