import(cba)
import(methods)
import(XML)

export(
       "plaintext_parser",
       "reut21578xml_parser",
       "rcv1_parser",
       "newsgroup_parser",
       "reut21578xml_to_plain",
       "rcv1_to_plain",
       "s_filter",
       "preprocess_reut21578xml"
       )

exportMethods(
              # Constructors
              "TextDocCol",
              "TextRepository",
              "TermDocMatrix",
              "DirSource",
              "CSVSource",
              "ReutersSource",

              # TextDocument
              "Corpus",
              "Corpus<-",
              "Author",
              "Author<-",
              "DateTimeStamp",
              "DateTimeStamp<-",
              "Description",
              "Description<-",
              "ID",
              "ID<-",
              "Origin",
              "Origin<-",
              "Heading",
              "Heading<-",
              "LocalMetaData",

              "Cached",
              "Cached<-",
              "URI",

              # TextDocCol
              "DMetaData",
              "DCMetaData",

              # TextRepository
              "RepresentationMetaData",

              # TermDocMatrix
              "Weighting",
              "Weighting<-",

              # Sources
              "step_next",
              "get_elem",
              "eoi",

              # Functions
              "load_doc",
              "tm_update",
              "tm_transform",
              "as.plaintext_doc",
              "strip_whitespace",
              "tm_tolower",
              "stem_doc",
              "remove_words",
              "tm_filter",
              "tm_index",
              "fulltext_search_filter",
              "find_hf_terms",
              "find_assocs",
              "append_doc",
              "append_meta",
              "prescind_meta",
              "attach_data",
              "attach_metadata",
              "modify_metadata",
              "remove_metadata",
              "[",
              "[<-",
              "[[",
              "[[<-",
              "c",
              "length",
              "show",
              "summary",
              "inspect",
              "%IN%",
              "dissimilarity")

exportClasses("TextDocument",
              "PlainTextDocument",
              "XMLTextDocument",
              "NewsgroupDocument",
              "TextDocCol",
              "MetaDataNode",
              "TextRepository",
              "TermDocMatrix",
              "Source",
              "DirSource",
              "CSVSource",
              "ReutersSource")
