import(methods)
import(XML)
export("TextDocCol", "TextRepository", "TermDocMatrix",
       # Assignment and accessor functions

       # TextDocument
       "Corpus",
       "Corpus<-",
       "Author",
       "Author<-",
       "DateTimeStamp",
       "DateTimeStamp<-",
       "Description",
       "Description<-",
       "ID",
       "ID<-",
       "Origin",
       "Origin<-",
       "Heading",
       "Heading<-",

       "Cached",
       "Cached<-",
       "FileName",

       # TextDocCol
       "GlobalMetaData",

       # TextRepository
       "RepresentationMetaData",

       # TermDocMatrix
       "Weighting",
       "Weighting<-",

       # Manipulating functions

       "loadFileIntoMem",

       "tm_transform",
       "toPlainTextDocument",
       "stemTextDocument",
       "removeStopWords",
       "tm_filter",
       "filterREUT21578Topics",
       "filterIDs",
       "parseReutersPlain",
       "parseReutersXML",
       "parseNewsItemPlain",

       "findHighFreqTerms",
       "findAssocs",

       "attachData",
       "attachMetaData",
       "setSubscriptable",
       "[",
       "c",
       "length",
       "show",
       "summary",
       "inspect",

       "cosinus",
       "pearson",
       "extjacc",
       "dissimilarity")
exportClasses("TextDocument", "PlainTextDocument", "XMLTextDocument", "NewsgroupDocument", "TextDocCol", "TextRepository", "TermDocMatrix")
